.section_ma_scolarite:nth-child(2) {
    padding: 100px;
    margin: 20px 100px;
}

.section_ma_scolarite h1 {
    font-size: 3em;
    padding-top: 20px;
}

.parcours_scolaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
    margin-bottom: 80px;
}

.annee_parcours {
    border: 2px black solid;
    background-color: #1a0000;
    border-radius: 10%;
    width: 250px;
    text-align: justify;
    padding: 15px;
    box-shadow: 6px 6px 6px rgba(1, 0, 0, 0.8);
    transition: transform 0.3s;
    z-index: 2;
}

.annee_parcours:hover {
    transform: scale(1.2)
}

.annee_parcours h2,
h3 {
    text-align: center;
}

.annee_parcours p {
    padding-top: 10px;

}

@media screen and (max-width: 996px) {
    .parcours_scolaire {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
    }

    .section_ma_scolarite {
        height: auto;
    }

    .section_ma_scolarite h1 {
        text-align: center;
    }

    .annee_parcours {
        margin-top: 50px;
    }
}