.section_centres_interet:nth-child(5) {
    padding: 100px;
}

.grid_voyages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    gap: 15px;
}

.grid_av {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px;
    gap: 15px;
}

.grid_musiques {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px;
    gap: 15px;
    place-items: center;
}

.grid_voyages img,
.grid_av img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lien_conteneur_photo {
    position: relative;
}

iframe {
    width: 100%;
    height: 100%;
}

.photo_hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.lien_conteneur_photo:hover .photo_hover {
    display: flex;
}

.section_centres_interet h2 {
    text-align: center;
    padding-top: 20px;
}

.section_centres_interet p {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 50px;
}

.contenu {
    display: none;
}

.position_button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.style_button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    transition-property: transform;
    transition-duration: 300ms;

    &:hover {
        transform: scale(1.25);
    }
}

.image_button1 {
    background-image: url(voyage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.image_button2 {
    background-image: url(cinema.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.image_button3 {
    background-image: url(musique.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
}

.section_centres_interet h1 {
    font-size: 3em;
    padding-bottom: 50px;
}

blockquote {
    font-style: italic;
    color: #ff7f50;
    text-align: center;
    margin: 50px 0;
    font-size: 1.5em;
}

.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {
    opacity: 0.7;
}



.modal {
    display: none;
    position: fixed;
    z-index: 20;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}


.modal-content {
    margin: 10px auto;
    display: block;
    width: 80%;
    max-width: 800px;
    max-height: 450px;
}


.modal-content {
    animation-name: zoom;
    animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
    transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 500px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}



.close {
    position: absolute;
    top: 55px;
    right: 75px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



@media screen and (max-width: 996px) {

    .section_centres_interet h1 {
        text-align: center;
    }

    .grid_musiques {
        grid-template-columns: 1fr;
        grid-template-rows: 150px 150px;
        margin-top: 20px;
    }
    .modal-content {
        width: 100%;
    }
}